/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	border: 2px solid;
	border-color: #00cc00;
	border-radius: 3px;
	background: #222;
	color: rgba(0, 0, 0, .8);
	font-size: 1rem;
	line-height: 1;
	padding: .6rem 1rem .4rem;

	&:hover {
		color: #008200;
		border-color: #008200;
	}

	&:active,
	&:focus {
		border-color: #00cc00;
	}
}

/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #00cc00;
	border-radius: 3px;

	&:focus {
		color: #111;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}
